
html { 
  background: url(img/forest.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-container {

	border: 2px solid black;
	text-align: center;
	background-color: white;
	width: 500px;
	margin: 0 auto;
}