<div class="subtitle">Products</div>


<%= link_to "NEW PRODUCT","/products/new", class: "button" %>



<% @products.each do |product| %>
	
	<p><%= link_to product.name, "/products/#{product.id}", class: "p-title" %>
		 <p class="p-desc"><%= product.description %></p>
		 <p class="p-price"><%= product.formatted_price %></p>
<% end %>